#macro (priority $value)
    #if ($value < 5)
        紧急
    #elseif($value < 10)
        一般
    #else
        来日方长
    #end
#end
$page.setTitle('RESTful Friendly Sample').addScript('/static/js/page/app/books/merge.js').addScript('/static/js/page/app/books/main.js')
<div class="row box">
    <h2 class="title">代办事项</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>描述</th>
            <th>优先级</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
            #foreach($todo in $todos)
            <tr>
                <td><a data-link="/kael/messageconfigs/show.htm?id=$todo.id">$!todo.id</a></td>
                <td>$!todo.name</td>
                <td>$!todo.desc</td>
                <td>#priority($!todo.priority)</td>
                <td>
                    <a class="btn btn-default btn-xs" data-target="#mdModal" data-toggle="modal" href="/api/todos/$!{todo.id}.htm">查看</a>
                    <a class="btn btn-default btn-xs" data-target="#mdModal" data-toggle="modal" href="/api/todos/$!todo.id/edit.htm">编辑</a>
                    <a class="btn btn-danger btn-xs" data-confirm="Are you sure?" data-remote="true" data-method="delete" href="/api/todos/${todo.id}.json" rel="nofollow">删除</a>
                </td>
            </tr>
            #end
        </tbody>
    </table>

    <a class="btn btn-primary btn-xs" data-target="#mdModal" data-toggle="modal" href="/api/todos/new.htm">添加TODO</a>
    <a class="btn btn-default btn-xs" data-preview="/api/todos.json">查看所有</a>
</div>
